body {
    background-color: black;
}

h1 {
    color: white;
    font-family:"Press Start 2P", "consolas";
}

p {
    color: greenyellow;
    /** Separating values means to use the next best thing if one isn't supported in a browser**/
    font-family: "consolas",sans-serif;
    font-style: italic;
    font-weight:bold;
    text-decoration: white dotted underline;
    font-size: 18px;
}