body{
    background-color: black;
}

h1{
    color: white;
}

p{
    background-color:antiquewhite; 
    color: black;  
}

#p1 {
    color:aquamarine;
}

.odd{
    background-color:grey;
}

.even{
    background-color:tomato;
}